* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  transition: all 2s;
}

#play {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  font-size: 25px;
  background-color: transparent;
  border: solid 2px lightblue;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: scale 2s infinite linear;
  z-index: 100;
}

.regole {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 15px;
}

.regole h3 {
  color: #2699cb;
}

span {
  text-decoration: underline;
}

.container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container h2 {
  font-size: 45px;
  color: #0a7a0f;
}

.container h3 {
  color: #1a7dd9;
  font-size: 30px;
}

.coriandoli {
  position: absolute;
  top: -500px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 101;

}

.overlay h2 {
  color: #2699cb;
}

.loser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -200px;
  left: -200px;
  transform: translate(-50%, -50%);
}

#go-level {
  border-radius: 10px;
  font-size: 20px;
  background-color: transparent;
  background:  darkorange;
  cursor: pointer;
  color: #fff;
  padding: 15px;
  border: none;
  box-shadow: inset 2px 3px 10px rgba(0, 0, 0, 0.5);
}

.count-down {
  position: absolute;
  bottom: 2px;
  right: 7px;
}

.count-down h2 {
  font-size: 30px;
}

@keyframes scale {

  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.3);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
